@import url("https://fonts.googleapis.com/css?family=Roboto:regular,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:regular,700&display=swap");
/* ========================================================= */
* {
    padding: 0;
    margin: 0;
    border: 0;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    min-width: 20rem;
    line-height: 1;
}
a {
    color: inherit;
    text-decoration: none;
}
ul li {
    list-style: none;
}
img {
    vertical-align: top;
    max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
button{
    cursor: pointer;
    color: inherit;
    background-color: transparent;
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
}
/* ========================================================= */
body{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    color: #777;
}
/* ========================================================= */
.wrapper{
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
}
.page{
    flex: 1 1 auto;
}
/* ========================================================= */
[class*="__container"] {
    max-width: 1170px;
    padding: 0 15px 0 15px;
    margin: 0 auto;
}
[class*="__header-container"] {
    max-width: 1350px;
    padding: 0 15px 0 15px;
    margin: 0 auto;
}
/* ========================================================= */
.header__header-container{
    width: 100%;
    height: 106px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__bg{
    background-color: #177165;
    height: 95%;
}
.header__logo{
    margin-right: 15px;
}
.menu__list{
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
}
.menu__item:not(:last-child){
    margin-right: 40px;
}
.menu__item:nth-child(3){
    margin-right: 60px;
}
.menu__item:nth-child(4){
    margin-right: 60px;
}
.menu__link{
    color: #A4D6CF;
    font-size: 15px;
    transition: color 0.3s;
}
.menu__link:hover{
    color: #fff;
}
.header__telephone{
    display: flex;
    align-items: flex-end;
    min-width: 197px;
}
.header__phone-icon{
    margin-right: 20px;
    margin-left: 15px;
}
.header__phone{
    color: #fff;
    font-size: 17px;  
    position: relative;  
}
.header__phone::before{
    content: 'Call us:';
    position: absolute;
    left: 0;
    top: -25px;
    color: #A4D6CF;
    font-size: 17px;

}
.header__burger-menu{
    position: relative;
    width: 45.5px;
    height: 40px;
    border: none;
    display: none;
}

.header__burger-menu span{
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: #A4D6CF;
    left: 5px;
    border-radius: 4px;
    transition: transform 0.4s;

}
.header__burger-menu span:nth-child(1){
    transform: translateY(-10px);
}
.header__burger-menu span:nth-child(3){
    transform: translateY(10px);
}
.header__header-container.open .header__burger-menu span:nth-child(1){
    transform: translateY(0) rotate(45deg);
}
.header__header-container.open .header__burger-menu span:nth-child(2){
    opacity: 0;
}
.header__header-container.open .header__burger-menu span:nth-child(3){
    transform: translateY(0) rotate(-45deg);
}








.hero__container{
    display: flex;
}
.hero__left{
    width: 50%;
}
.hero__title{
    margin-top: 100px;
    margin-bottom: 18px;
    color: #A4D6CF;
    font-size: 17px;
    font-weight: 400;
    font-style: normal;
}
.hero__title::before{
    content: '';
    display: inline-block;
    width: 40px;
    height: 1px;
    background-color: #A4D6CF;
    vertical-align: middle;
    margin-right: 10px;
}
.hero__subtitle{
    margin-bottom: 16px;
    max-width: 455px;
    color: #FFF;
    font-family: Playfair Display;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 78px;
}
.hero__subtitle-des{
    margin-bottom: 59px;
    color: #A4D6CF;
    font-size: 17px;
    font-weight: 400;
    font-style: normal;
}
.hero__subtitle-des::before{
    content: '';
    display: inline-block;
    width: 25px;
    height: 1px;
    background-color: #A4D6CF;
    vertical-align: middle;
    margin-right: 10px;
}
.hero__left-button{
    display: inline-block;
    margin-bottom: 101px;
    padding: 9px 52px;
    border: 2px solid #FFF;
    background-color: #FFF;
}
.text__button{
    color: #177165;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}
.text__button::after{
    content: '+';
    margin-left: 10px;
}
.hero__right{
    width: 50%;
}
.hero__right-img{
    width: 100%;
    height: 100%;
    transform: translateY(75px);
    background-image: url(../img/hero/hero-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}
.about-company__container{
    margin-top: 200px;
    margin-bottom: 100px;
}
.about-company__title{
    margin-bottom: 10px;
    color: #777;
    font-size: 18px;
    font-style: normal;
}
.about-company__title::before{
    content: '';
    display: inline-block;
    width: 40px;
    height: 1px;
    background-color: #777;
    vertical-align: middle;
    margin-right: 10px;
}
.about-company__subtitle{
    max-width: 997px;
    margin-bottom: 52px;
    color: #177165;
    font-family: Playfair Display;
    font-size: calc(25px + 23 * ((100vw - 320px) / (1170 - 320)));
    font-style: normal;
    font-weight: 400;
    line-height: 55px;
}
.about-company-block{
    display: flex;
}
.about-company-block__left{
    width: 50%;
    max-height: 872px;
}
.about-company-block__left-img{
    width: 100%;
    height: 100%;
    background-image: url(../img/about/IMAGE.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.about-company-block__right{
    margin-left: 120px;
    width: 50%;
    height: 100%;
}
.right__text-title-top{
    margin-top: 70px;
    margin-bottom: 26px;
    color: #177165;
    font-family: Playfair Display;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 35.2px;
}
.right__text-subtitle-top{
    max-width: 439px;
    margin-bottom: 17px;
    font-style: normal;
    line-height: 26px;
}

.right__text-subtitle-info-top{
    margin-bottom: 36px;
    max-width: 438px;
    color: #177165;
    font-family: Playfair Display;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.right__text-title-bottom{
    margin-bottom: 26px;
    color: #177165;
    font-family: Playfair Display;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 35.2px;
}
.right__text-subtitle-bottom{
    margin-bottom: 15px;
    max-width: 439px;
    line-height: 26px;
}
.right__text-subtitle-info-bottom{
    line-height: 26px;
    max-width: 439px;
    margin-bottom: 87px;
}
.right__button{
    padding: 10px 60px;
    border: 2px solid #177165;
    display: inline-block;
    margin-bottom: 65px;
    
}
.right__button::after{
    content: '+';
    margin-left: 10px;
}







.services__bg{
    width: 100%;
    height: auto;
    background-color: #E1F4F2;
}
.services__title{
    display: inline-block;
    margin-top: 100px;
    margin-bottom: 10px;
    font-size: 17px;
    font-style: normal;
    line-height: 29.25px;
}
.services__title::before{
    content: '';
    display: inline-block;
    width: 40px;
    height: 1px;
    background-color: #777;
    vertical-align: middle;
    margin-right: 10px;
}
.services__subtitle{
    margin-bottom: 52px;
    max-width: 1039px;
    color: #177165;
    font-family: Playfair Display;
    font-size: calc(25px + 23 * ((100vw - 320px) / (1170 - 320)));
    font-style: normal;
    font-weight: 400;
    line-height: 57.6px;
}
.services-block{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 81px;
}
.services-block__flower{
    display: flex;
    flex-direction: column;
    max-width: 248px;
    align-self: center;
    justify-self: center;
    height: auto;
    word-wrap: break-word;
}
.flower__img{
    margin-bottom: 30px;
}
.flower__title{
    margin-bottom: 5px;
    font-size: 15px;
    line-height: 26px;
}
.flower__title::before{
    content: '';
    display: inline-block;
    width: 40px;
    height: 1px;
    background-color: #777;
    margin-right: 10px;
    vertical-align: middle;
}
.flower__subtitle{
    color: #177165;
    font-family: Playfair Display;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 35.75px;
}
.services-block__Planting{
    max-width: 248px;
    height: auto;
    word-wrap: break-word;
    align-self: center;
    justify-self: center;
}
.Planting__img{
    margin-bottom: 30px;
    width: 100%;
}
.Planting__title{
    margin-bottom: 5px;
    font-size: 15px;
    line-height: 26px;
    width: auto;
}
.Planting__title::before{
    content: '';
    display: inline-block;
    width: 40px;
    height: 1px;
    background-color: #777;
    margin-right: 10px;
    vertical-align: middle;
}
.Planting__subtitle{
    color: #177165;
    font-family: Playfair Display;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 35.75px;
    width: auto;
}
.services-block__Rush{
    max-width: 248px;
    height: auto;
    word-wrap: break-word;
    align-self: center;
    justify-self: center;
}
.Rush__img{
    margin-bottom: 30px;
}
.Rush__title{
    margin-bottom: 5px;
    font-size: 15px;
    line-height: 26px;
    width: auto;
}
.Rush__title::before{
    content: '';
    display: inline-block;
    width: 40px;
    height: 1px;
    background-color: #777;
    margin-right: 10px;
    vertical-align: middle;
}
.Rush__subtitle{
    color: #177165;
    font-family: Playfair Display;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 35.75px;
    width: auto;
}
.services-block__Watering{
    max-width: 248px;
    height: auto;
    word-wrap: break-word;
    align-self: center;
    justify-self: center;
}
.Watering__img{
    margin-bottom: 30px;
}
.Watering__title{
    margin-bottom: 5px;
    font-size: 15px;
    line-height: 26px;
    width: auto;
}
.Watering__title::before{
    content: '';
    display: inline-block;
    width: 40px;
    height: 1px;
    background-color: #777;
    margin-right: 10px;
    vertical-align: middle;
}
.Watering__subtitle{
    color: #177165;
    font-family: Playfair Display;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 35.75px;
    width: auto;
}
.service__btn{
    display: inline-block;
    border: 2px solid #177165;
    padding: 10px 55px;
    margin-left: 50%;
    transform: translateX(-50%);
    color: #177165;
    font-size: 16px;
    margin-bottom: 113px;
}
.service__btn::after{
    content: '+';
    margin-left: 10px;
}










































@media (max-width: 810px){
    .menu__item:not(:last-child){
        margin-right: 25px;
    }
    .menu__item:nth-child(3){
        margin-right: 35px;
    }
    .menu__item:nth-child(4){
        margin-right: 35px;
    }
    .header__phone-icon{
        margin-right: 8px;
    }
}
@media (max-width: 730px){
    .header__burger-menu{
        display: block;
    }
    .header__header-container{
        justify-content: flex-end;
    }
    .header__logo{
        margin-right: auto;
        width: 144px;
        height: 44px;
    }
    .header__phone{
        display: none;
    }
    .header__telephone{
        min-width: auto;
    }
    .header__phone-icon{
        margin-left: 0;
        margin-right: 20px;
    }
    .menu{
        width: 50%;
        height: 100%;
        background-color: #305652;
        position: absolute;
        top: 0;
        right: -50%;
        overflow: auto;
    }
    .menu__list{
        margin-top: 90px;
        flex-direction: column;
    }
    .menu__item:not(:last-child){
        margin-right: 0px;
    }
    .menu__item:nth-child(3){
        margin-right: 0px;
    }
    .menu__item:nth-child(4){
        margin-right: 0px;
    }
    .menu__link{
        display: block;
        text-align: right;
        padding: 10px 30px 10px 0px;
    }
    .header__header-container.open .menu{
        transform: translateX(-100%);
    }
}
@media (max-width: 885px){
    .hero__subtitle{
        font-size: 50px;
        line-height: 65px;
    }
}
@media (max-width: 768px){
    .hero__right{
        display: none;
    }
    .hero__left{
        width: 100%;
    }
    .about-company__container{
        margin-top: 150px;
    }
}
@media (max-width: 500px){
    .about-company__subtitle{
        line-height: 40px;
    }
    .services__subtitle{
        line-height: 45.6px;
    }
}
@media (max-width: 420px){
    .hero__subtitle{
        font-size: 40px;
        line-height: 55px;
    }
    .services__subtitle{
        line-height: 36.6px;
    }
    .about-company__container{
        margin-top: 100px;
    }
}
@media (max-width: 1000px){
    .about-company-block__right{
        margin-left: 70px;
    }
}
@media (max-width: 865px){
    .about-company-block__right{
        margin-left: 35px;
    }
}
@media (min-width: 1170px){
    .about-company__subtitle{
        font-size: 48px;
    }
    .services__subtitle{
        font-size: 48px;
    }
}
@media (max-width: 830px){
    .right__text-title-top{
        margin-top: 10px;
    }
    .right__text-subtitle-info-bottom {
        margin-bottom: 40px;
    }
}
@media (max-width: 768px){
    .about-company-block__left{
        display: none;
    }
    .about-company-block__right{
        width: 100%;
        margin-left: 0;
    }

}
@media (max-width: 850px){
    .services-block{
        grid-template-columns: 1fr 1fr ;
    }
}
@media(max-width: 500px){
    .services-block{
        gap: 20px;
    }
    .services__subtitle {
        margin-bottom: 30px;
    }
    .flower__img{
        margin-bottom: 20px;
    }
    .Planting__img{
        margin-bottom: 20px;
    }
    .Rush__img{
        margin-bottom: 20px;
    }
    .Watering__img{
        margin-bottom: 20px;
    }
    .service__btn{
        display: inline-block;
        border: 2px solid #177165;
        padding: 10px 55px;
        width: 100%;
        text-align: center;
        margin-left: 0;
        transform: translateX(0);
        color: #177165;
        font-size: 16px;
        margin-bottom: 113px;
    }
}
@media (max-width: 400px){
    .flower__subtitle{
        font-size: 17px;
    }
    .Planting__subtitle{
        font-size: 17px;
    }
    .Rush__subtitle{
        font-size: 17px;
    }
    .Watering__subtitle{
        font-size: 17px;
    }
}